---
import Layout from '../layouts/Layout.astro';
import Link_button from '../components/Link_button.astro';
---

<Layout title="Sistemas Alto Valle">
	<main>
		<div class="mt-10 flex h-screen">
			<div class=" w-screen grid grid-cols-1 content-center p-12">
				<h4 class="text-5xl sm:text-8xl text-center"><b class="color1">SISTEMAS</b> ALTO VALLE</h4>
				<p class="text-center"><b>Transforma tu negocio, controla el futuro: Informatización integral para operaciones eficientes y decisiones ágiles.</b></p>
			</div>
		</div>
		<div class="flex h-screen">
			<div class="sm:w-1/2 w-screen grid grid-cols-1 content-center p-8">
				<h2 class="text-5xl">La <b class="color1">información</b> de tus <b class="color1">procesos</b> en la palma de tu mano.</h2>
				<p>Centra la información de tus procesos en un solo lugar; deja de lidiar con cientos de excels. Genera reportes en un segundo y estarás listo para tomar decisiones relevantes en el acto.</p>
			</div>
			<div class="w-1/2 sm:grid grid-cols-1 content-center hidden justify-items-end">
				<img src="img-1.png" alt="">
			</div>
		</div>
		<div class="flex h-screen content-center">
			<div class="w-1/2 sm:grid grid-cols-1 content-center hidden">
				<img src="img-2.png" alt="">
			</div>
			<div class="sm:w-1/2 w-screen grid grid-cols-1 content-center p-8">
				<h2 class="text-5xl"><b  class="color1">Accede</b> a tu <b class="color1">información</b> desde <b class="color1">cualquier parte</b> del mundo.</h2>
				<p>No esperes a estar en la oficina para poder ver un informe o el estado operativo de tus procesos, ni tampoco esperes a que el turno de la mañana comience a trabajar para poder acceder a la información. Accede desde cualquier lugar en cualquier momento.</p>
				<br/>
			</div>
		</div>
		<div class="flex h-screen content-center">
			<div class="sm:w-1/2 w-screen grid grid-cols-1 content-center p-8">
				<h2 class="text-5xl">"La <b class="color1">perfección</b> se encuentra en los <b class="color1">detalles</b>". La <b class="color1">calidad</b> también.</h2>
				<p>Tener la lupa sobre los detalles más pequeños de tus procesos es esencial para la calidad de tus servicios y productos. No los dejes descuidados.</p>
			</div>
			<div class="w-1/2 sm:grid grid-cols-1 content-center hidden justify-items-end">
				<img src="img-3.png" alt="">
			</div>
		</div>
		<div class="mt-10 flex " style="display: none;">
			<div class=" w-screen flex flex-col text-center items-center p-12">
				<img src="contac.png" alt="">
				<h5 class="text-5xl"><b class="color1">Contáctanos</b> y comienza una <b class="color1">nueva etapa</b> en tu negocio.</h5>
				<p class="text-center"><b>No dudes en escribirnos, síguenos en nuestras redes y aprende más sobre cómo informatizar tu negocio puede mejorar tu trabajo.</b></p>
				<form class="mt-32 flex flex-col w-5/6 text-left">
					<label for="">Nombre:</label>
					<input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" type="text" name="" id="nombre">
					<label for="" class="mt-10">Email:</label>
					<input class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  type="email" name="" id="email">
					<label class="mt-10" for="">Mensaje:</label>
					<textarea rows="5" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" id="mensaje"></textarea>
					<button type="button" class="w-32 mt-10 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800" onclick="enviarEmail()">Enviar</button>

					<div style="display: none;" id="toast-success" class="flex items-center w-full max-w-xs p-4 mb-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
						<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500 bg-green-100 rounded-lg dark:bg-green-800 dark:text-green-200">
							<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
								<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
							</svg>
							<span class="sr-only">Check icon</span>
						</div>
						<div class="ms-3 text-sm font-normal">Mensaje Enviado con Exito.</div>
						<button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-success" aria-label="Close">
							<span class="sr-only">Close</span>
							<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
							</svg>
						</button>
					</div>

					<div style="display: none;"  id="toast-warning" class="flex items-center w-full p-4 text-gray-500 bg-white rounded-lg shadow dark:text-gray-400 dark:bg-gray-800" role="alert">
						<div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-orange-100 rounded-lg dark:bg-orange-700 dark:text-orange-200">
							<svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
								<path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
							</svg>
							<span class="sr-only">Warning icon</span>
						</div>
						<div class="ms-3 text-sm font-normal" id="mensaje-error">Improve password difficulty.</div>
						<button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-white text-gray-400 hover:text-gray-900 rounded-lg focus:ring-2 focus:ring-gray-300 p-1.5 hover:bg-gray-100 inline-flex items-center justify-center h-8 w-8 dark:text-gray-500 dark:hover:text-white dark:bg-gray-800 dark:hover:bg-gray-700" data-dismiss-target="#toast-warning" aria-label="Close">
							<span class="sr-only">Close</span>
							<svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
								<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
							</svg>
						</button>
					</div>
				</form>
			</div>
		</div>
		<script is:inline>
			function enviarEmail(){

				var email = document.getElementById("email");
				var nombre = document.getElementById("nombre");
				var mensaje = document.getElementById("mensaje");
				
				document.getElementById("toast-success").style = "display: none;";
				document.getElementById("toast-warning").style = "display: none;";

				if(validar(email, nombre, mensaje)){
					var body = "De "+nombre.value+" mensaje: "+mensaje.value;
					var url = `https://script.google.com/macros/s/AKfycbysmkdPIRO3oJ34ndOe-jxcbu2Rc8f6HXzED7VD4YA9ish5_WveGt98oZ1lqYAie78Ozg/exec?email=${email.value}&asunto=${encodeURI("contacto desde landing")}&mensaje=${encodeURI(body)}`;
					fetch(url).then( ()=>{
						document.getElementById("toast-success").style = "";
						email.value = "";
						nombre.value = "";
						mensaje.value = "";
					});
				}
			}
			function validar(email, nombre, mensaje){
				var retorno = true;
				var mensaje = "";
				if(email.value == ""){
					mensaje += "Tiene que ingresar un email. ";
					retorno = false;
				}

				if(nombre.value == ""){
					mensaje += "Tiene que ingresar un nombre. ";
					retorno = false;
				}

				if(mensaje.value == ""){
					mensaje += "Tiene que ingresar un Mensaje a enviar. ";
					retorno = false;
				}

				if(!retorno){
					document.getElementById("toast-warning").style = "";

					document.getElementById("mensaje-error").innerText = mensaje;
				}
				return retorno;
			}
		</script>
	</main>
	<button class="bg-green-500	rounded-full p-4 fixed bottom-9 right-9" onclick="window.open('https://api.whatsapp.com/send/?phone=5492994139643&text=I%27m+interested+in+your+car+for+sale&type=phone_number&app_absent=0')">
		<img width="50px" src="whatsapp.png"/>
	</button>
</Layout>
<style>
	.background-animate {
    background-size: 400%;

    -webkit-animation: AnimationName 3s ease infinite;
    -moz-animation: AnimationName 3s ease infinite;
    animation: AnimationName 3s ease infinite;
  }

  @keyframes AnimationName {
    0%,
    100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }

  main{
	widows: 100%;
  }
</style>