---

import Layout from '../layouts/Layout.astro';
import Link_button from '../components/Link_button.astro';

---
<Layout title="CEFAI">
    <section class="min-h-screen px-6 py-4">
        <div class="h-screen content-center grid grid-cols-1 p-20">
            <h1 class="text-5xl">¡Bienvenido a <b class="color1">Sistemas Alto Valle</b>
            </h1>
            <p>Somos un apasionado grupo de desarrolladores de software y analistas, unidos por la visión de transformar ideas en soluciones digitales innovadoras. Con una vasta experiencia trabajando en diversos proyectos, hemos decidido emprender la emocionante aventura de establecer nuestro propio negocio.</p>
            <p>En Sistemas Alto Valle, no solo creamos software, sino que construimos relaciones sólidas con nuestros clientes. Atravesando la cordillera, hemos extendido nuestro alcance y colaborado con clientes de ambos lados para proporcionar soluciones a medida que impulsan el crecimiento y la eficiencia.</p>
            <p>Nuestra fuerza radica en la eficacia de la toma de decisiones. Enfrentamos cada desafío con determinación, cumpliendo objetivos planteados y superando expectativas. Creemos en la mejora continua y no solo ofrecemos soluciones, sino que proponemos innovaciones que elevan el rendimiento y la satisfacción de nuestros clientes.    </p>
            <p>En Sistemas Alto Valle, cada línea de código cuenta una historia de dedicación y excelencia. Estamos listos para dar vida a tus ideas, proporcionando soluciones tecnológicas que marcan la diferencia. ¡Únete a nosotros en esta emocionante travesía hacia el éxito digital!</p>
            <p class="mt-20 text-end">Luis Keller, Fundador</p>
        </div>
    </section>
</Layout>