---
import Layout from '../layouts/Layout.astro';
import Link_button from '../components/Link_button.astro';
---

<Layout title="CEFAI">
	<main>
        <div class="mt-10 flex flex-col h-screen p-10">
            <h1 class="text-5xl color1">Servicios</h1>
            <hr class="bg-slate-100">
            <br>
            <h2 class="text-3xl ">Desarrollo de Aplicaciones Custom</h2>
            <p>Nos enorgullece ofrecer un servicio integral de creación de aplicaciones customizado, guiado por un proceso meticuloso y orientado a la satisfacción del cliente. Comenzamos con un detallado relevamiento de los procesos del cliente, sumergiéndonos en sus operaciones para comprender a fondo sus necesidades y desafíos. Esta fase inicial sienta las bases para el diseño de una solución única que aborde de manera específica los requerimientos empresariales particulares.</p>
            <p>Posteriormente, procedemos a la evaluación del proyecto y al cierre de contrato, utilizando el Especificacion de Requisitos de Software (ERS) como guía. Esta etapa es crucial para definir claramente los alcances del proyecto, establecer expectativas y garantizar una base sólida para el desarrollo. Nuestra filosofía es proporcionar transparencia en cada paso, asegurando una comprensión mutua y la construcción de una relación de confianza.</p>
            <p>La estimación de las etapas de desarrollo y el cronograma general es el siguiente paso, donde delineamos un plan detallado que incluye hitos clave y plazos específicos. Si bien este cronograma está sujeto a modificaciones, mantenemos una comunicación abierta con el cliente para adaptarnos a cualquier cambio en los requisitos o circunstancias. Durante la programación, ofrecemos consultas regulares y mostramos avances continuos para que el cliente esté plenamente involucrado en el proceso de desarrollo.</p>
            <p>La fase de producción marca la culminación del proyecto, donde implementamos la aplicación customizada con precisión y eficiencia. Además, ofrecemos servicios complementarios como mantenimiento, administración de servidores y contratos de horas de mantenimiento para garantizar un rendimiento continuo y confiable. También estamos comprometidos a proporcionar actualizaciones y nuevas características según las necesidades cambiantes del cliente, asegurando que la aplicación evolucione en consonancia con el crecimiento y los cambios en el entorno empresarial.</p>
            <h2 class="text-3xl">Relevamiento de Requerimientos y Generacion de ERS</h2>
            <p>En nuestro compromiso constante de ofrecer soluciones a medida que se adapten perfectamente a sus necesidades, comprendemos que a veces puede requerir un Especificacion de Requerimientos (ESR) de manera específica sin comprometerse con un proyecto completo de desarrollo de aplicaciones customizadas. Nos complace informarle que estamos aquí para facilitarle exactamente eso.</p>
            <p>Nuestro servicio de generación de ESR se centra en entender sus procesos y objetivos comerciales para elaborar un documento detallado que refleje sus requisitos y expectativas. A través de consultas colaborativas, nuestro equipo experto trabajará estrechamente con usted para recopilar información clave, identificar desafíos y establecer claramente los alcances del proyecto. Este ESR servirá como una hoja de ruta sólida y comprensible, brindándole una visión clara de las funcionalidades requeridas y permitiéndonos definir un presupuesto y plazos adecuados.</p>
            <p>Nos enorgullece ofrecer un servicio ágil y flexible que se ajusta a sus necesidades específicas, brindándole la oportunidad de explorar las posibilidades sin compromisos extensos. Estamos comprometidos a garantizar que el proceso de generación de ESR sea eficiente, transparente y satisfactorio para usted. No dude en ponerse en contacto con nosotros para discutir cómo podemos personalizar este servicio para satisfacer sus requisitos únicos.</p>
            <h2></h2>
        </div>
    </main>
</Layout>